node_modules
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

vercel
.next
.vercel
.env.build
.env.local.build
.env.development.local.build
.env.production.local.build
.env.test.local.build

Dockerfile
docker-compose.yml

npm-debug.log
yarn-error.log

dist
build
